.show
  %div
    %h3= "#{@content.title}"
    .user-content.long-text= process_with_markup(@content.body)
- if current_user.try(:admin?)
  = render :partial => "shared/actions", :locals => {:model => @content, :current_action => :show}

