**.orig
*.rbc
*.sassc
.DS_Store?
.Spotlight-V100
.Trashes
._*
.bundle
.idea
.rspec
.sass-cache
/.bundle
/coverage/
/db/*.db
/db/*.sqlite3
/log/*
/public/system/*
/spec/tmp/*
/tmp/*
/vendor/bundle
Icon?
all.js
capybara-*.html
db/*.sqlite3
log/*.log
logfile
passenger-standalone
rerun.txt
scaffold.css
tmp/**/*
*.dump
push_*
.backup
