scaffold.css
passenger-standalone
all.js
**.orig
*.rbc
*.sassc
.DS_Store?
.Spotlight-V100
.Trashes
._*
.bundle
.idea
.rspec
.sass-cache
/.bundle
/coverage/
/db/*.sqlite3
/log/*
/public/system/*
/spec/tmp/*
/tmp/*
/vendor/bundle
Icon?
capybara-*.html
config/*.yml
db/*.sqlite3
log/*.log
logfile
rerun.txt
s3.yml
tmp/**/*
