table {
  border: solid 3px #EFEFEF;
  font-size: .75em;
}
td {text-align: left; vertical-align: top;}
td.time {font-weight: bolder; color: #8A1F11; background-color: #EFEFEF;}
td.slot {border: solid 1px #EFEFEF;}

.presentation {color: #8A1F11; font-weight: bolder; }
.speaker {font-size: .74em;}
.tags {font-size: .65em;}


