%h4.section-title speaker lineup 
- if user_signed_in? && current_user.admin?
  %p= pluralize @users.count, 'speaker'
.lineup
  = render :partial => "user", :collection => @users

- if user_signed_in? && current_user.admin?
  = render :partial => "shared/actions", :locals => {:model => user.new, :current_action => :index}

- content_for :javascript do
  :javascript
    SEARCH_PLACEHOLDER_TEXT = "type to filter by name";
  = javascript_include_tag "index"
