%h4.section-title #{@user.speaker? ? 'Speaker' : 'User'} Profile
= render :partial => "user", :locals => {:user => @user}

- if user_signed_in? && (current_user.admin? || current_user.speaker?)
  .actions
    - if can? :update, @user
      = link_to "Edit", edit_user_path(@user)
