<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @preregistration.email %>
</p>


<%= link_to 'Edit', edit_preregistration_path(@preregistration) %> |
<%= link_to 'Back', preregistrations_path %>
