.show
  %ul
    %li.schedule.session
      -# = link_to schedule.room.title, room_path(schedule.room)
      %a{:href => "#"}= schedule.room.title
      %span // 
      = link_to schedule.sesja.title, sesja_path(schedule.sesja)

