%h4.section-title schedule 
- if user_signed_in? && current_user.admin?
  = render :partial => "shared/actions", :locals => {:model => Schedule.new, :current_action => :index}

.lineup
  = render :partial => "time_slot", :collection => @time_slots
