.aside.blurb
  %h5 What is CCC?
  %p Chicago Code Camp is a free, one day conference on Saturday May 19th, for developers of all skill levels and interests with multiple sessions running side-by-side throughout the day.
