#color-proof
  .greyish
    this is a greyish block
  .c-left
    this is a c-left block
  .c-left-33
    this is a c-left-33 block
  .c-left-66
    this is a c-left-66 block
  .primary
    this is a primary block
  .primary-33
    this is a primary-33 block
  .primary-66
    this is a primary-66 block
  .c-right
    this is a c-right block
  .c-right-33
    this is a c-right-33 block
  .c-right-66
    this is a c-right-66 block
  .neutral
    this is the neutral block
  .tbd
    this is a tbd block
