#color-proof
  .greyish
    this is a greyish block
  .blueish
    this is a blueish block
  .blueish-33
    this is a blueish-33 block
  .blueish-66
    this is a blueish-66 block
  .maroonish
    this is a maroonish block
  .maroonish-33
    this is a maroonish-33 block
  .maroonish-66
    this is a maroonish-66 block
  .greenish
    this is a greenish block
  .greenish-33
    this is a greenish-33 block
  .greenish-66
    this is a greenish-66 block
  .tbd
    this is a tbd block 
