<div class="aside location">
  <h5>Location</h5>

  <p>
  <a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=19351+West+Washington+Street+Grayslake,+IL+60030-1198&amp;sll=37.0625,-95.677068&amp;sspn=57.292148,40.166016&amp;ie=UTF8&amp;hq=&amp;hnear=19351+W+Washington+St,+Grayslake,+Lake,+Illinois+60030&amp;ll=42.36051,-88.010874&amp;spn=0.042937,0.089607&amp;z=14" style="color:#0000FF;text-align:left"><b>College of Lake County</b><br>19351
      West Washington Street<br>Grayslake, IL 60030-1198</a></p>

  <div class="map">
    <iframe width="280" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=19351+West+Washington+Street+Grayslake,+IL+60030-1198&amp;sll=37.0625,-95.677068&amp;sspn=57.292148,40.166016&amp;ie=UTF8&amp;hq=&amp;hnear=19351+W+Washington+St,+Grayslake,+Lake,+Illinois+60030&amp;ll=42.36051,-88.010874&amp;spn=0.042937,0.089607&amp;z=14&amp;output=embed"></iframe>
  </div>
</div>
