.aside.location
  %h5 Where is CCC?
  %p
    %a{:href => "http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=19351+West+Washington+Street+Grayslake,+IL+60030-1198&amp;sll=37.0625,-95.677068&amp;sspn=57.292148,40.166016&amp;ie=UTF8&amp;hq=&amp;hnear=19351+W+Washington+St,+Grayslake,+Lake,+Illinois+60030&amp;ll=42.36051,-88.010874&amp;spn=0.042937,0.089607&amp;z=14"}
      College of Lake County
      19351 W. Washington Str.
      Grayslake, IL 60030-1198
  -# %iframe.map{:frameborder => "0", :height => "150", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=19351+West+Washington+Street+Grayslake,+IL+60030-1198&amp;sll=37.0625,-95.677068&amp;sspn=57.292148,40.166016&amp;ie=UTF8&amp;hq=&amp;hnear=19351+W+Washington+St,+Grayslake,+Lake,+Illinois+60030&amp;ll=42.393037,-87.994995&amp;spn=0.298178,0.766296&amp;z=9&amp;iwloc=&amp;output=embed", :width => "195"}
