#menu.bar.container.span-24.last
  #menu.item.span-3
    %a{:href=>"/directions"} directions
  #menu.item.span-3
    %a{:href=>"/speakers"} speakers
  #menu.item.span-3
    %a{:href=>"/presentations"} presentations
  #menu.item.span-3
    %a{:href=>"/volunteers/new"} volunteer
  #menu.item.span-4
    %a{:href=>"/sponsors"} sponsors
  #menu.item.span-4
    %a{:href=>"/agenda"} agenda
  #menu.item.home.span-4.last
    %a{:href=>"/"} HOME
  
