<% unless user_signed_in? %>
  <div class="aside preregistration">
    <h5>Register for Updates</h5>

    <p>Stay up-to-date on the latest announcements and news related to CCC3.
      <%= form_for Preregistration.new, :method => :post do |f| %>
      <fieldset>
        <ol>
          <li>
            <%= f.label :email, "email" %>
            <%= f.email_field :email, :placeholder => "your@email.com" %>
          </li>
        </ol>
      </fieldset>
      <fieldset>
        <ol>
          <li>
            <button type="submit" id="preregistration_submit" name="commit">register for updates</button>
          </li>
        </ol>
      </fieldset>
    <% end %>
  </div>
<% end %>
