%h3 Sponsors
Please take a moment to recognize our valued sponsors.
%hr.space
- level = ""
- Sponsor.all().each do |s|
  %h3=h s.level unless s.level == level
  %p{:style=>"padding-left: 8px;"}= s.name
  - level = s.level


