//
//  PALETTE
//
$color-primary:         #800000; // base
$color-triad-m120:      #000080;
$color-triad-p120:      #008000;
$color-analog-m30:      #800040;
$color-analog-p30:      #804000;
$color-split-comp-m150: #004080;
$color-split-comp-p150: #008040;
$color-comp:            #008080;

$color-value-000:       #000000;
$color-value-010:       #1a0000;
$color-value-020:       #330000;
$color-value-030:       #4d0000;
$color-value-040:       #660000;
$color-value-050:       #800000; // base
$color-value-060:       #990000;
$color-value-070:       #b30000;
$color-value-080:       #cc0000;
$color-value-090:       #e60000;
$color-value-100:       #ff0000;

$color-satur-000:       #808080;
$color-satur-010:       #807373;
$color-satur-020:       #806666;
$color-satur-030:       #805a5a;
$color-satur-040:       #804d4d;
$color-satur-050:       #804040;
$color-satur-060:       #803333;
$color-satur-070:       #802626;
$color-satur-080:       #801a1a;
$color-satur-090:       #800d0d;
$color-satur-100:       #800000; // base

//
// DECLARATIONS
//
// TODO: declare all the style elements

$color-background:         $color-primary;
$color-font-light:         white;
$color-font-light-shadow:  white;

$color-content-background: #f1ebe4;

$color-input-background:   white;
$color-input-shadow:       $color-satur-000;

$color-aside-background:   #a7988b;
$color-aside-input:        #f1ebe4;

$color-button:			   $color-value-030;
$color-button-font:		   white;


