// c-primary is main color
// c-left is primary color's triad -120
// c-right is primary color's triad +120

$c-left       : #004080
$c-left-33    : #abc0d5
$c-left-66    : #5781ab

$c-neutral    : white

$c-primary    : #800000
$c-primary-33 : #d5abab
$c-primary-66 : #ab5757

$c-right      : #00803F
$c-right-33   : #abd5c0
$c-right-66   : #57ab81

$greyish      : #9A9B9D

$tbd          : #eee6e6

#color-proof
  .greyish
    background-color: $greyish
  .c-left
    background-color: $c-left
  .c-left-33
    background-color: $c-left-33
  .c-left-66
    background-color: $c-left-66
  .primary
    background-color: $c-primary
  .primary-33
    background-color: $c-primary-33
  .primary-66
    background-color: $c-primary-66
  .c-right
    background-color: $c-right
  .c-right-33
    background-color: $c-right-33
  .c-right-66
    background-color: $c-right-66
  .tbd
    background-color: $tbd
