$font-m5:   5.24288px;
$font-m4:   6.5536px;
$font-m3:   8.192px;
$font-m2:   10.24px;
$font-m1:   12.8px;
$font-base: 16px;
$font-p1:   20.8px;
$font-p2:   27.04px;
$font-p3:   35.152px;
$font-p4:   45.6976px;
$font-p5:   59.40688px;

$font-family-base: 'Ubuntu', arial, serif;
$font-family-special: 'Syncopate', arial, serif;
