@import "html5-reset";
@import "helpers";

$font-m5:   5.24288px;
$font-m4:   6.5536px;
$font-m3:   8.192px;
$font-m2:   10.24px;
$font-m1:   12.8px;
$font-base: 16px;
$font-p1:   20.8px;
$font-p2:   27.04px;
$font-p3:   35.152px;
$font-p4:   45.6976px;
$font-p5:   59.40688px;



$color-primary:         #800000; // base
$color-triad-m120:      #000080;
$color-triad-p120:      #008000;
$color-analog-m30:      #800040;
$color-analog-p30:      #804000;
$color-split-comp-m150: #004080;
$color-split-comp-p150: #008040;
$color-comp:            #008080;

$color-value-000:       #000000;
$color-value-010:       #1a0000;
$color-value-020:       #330000;
$color-value-030:       #4d0000;
$color-value-040:       #660000;
$color-value-050:       #800000; // base
$color-value-060:       #990000;
$color-value-070:       #b30000;
$color-value-080:       #cc0000;
$color-value-090:       #e60000;
$color-value-100:       #ff0000;

$color-satur-000:       #808080;
$color-satur-010:       #807373;
$color-satur-020:       #806666;
$color-satur-030:       #805a5a;
$color-satur-040:       #804d4d;
$color-satur-050:       #804040;
$color-satur-060:       #803333;
$color-satur-070:       #802626;
$color-satur-080:       #801a1a;
$color-satur-090:       #800d0d;
$color-satur-100:       #800000; // base

$color-background:         $color-primary;
$color-font-light:         white;
$color-font-light-shadow:  white;

$color-content-background: #f1ebe4;

$color-input-background:   white;
$color-input-shadow:       $color-satur-000;

$color-aside-background:   #a7988b;
$color-aside-input:        #f1ebe4;



*, body {
  font-family: 'Ubuntu', arial, serif;
  font-size: $font-base;
}

body {
  background-color: $color-primary;
  @include prime-gs();
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
}

h1 { font-size: $font-p5; }
h2 { font-size: $font-p4; }
h3 { font-size: $font-p3; }
h4 { font-size: $font-p2; }
h5 { font-size: $font-p1; }


#container {
  display: block;
  #header {
    width: 100%;
    text-align: center;
    .blurb {
      display: inline-block;
      color: $color-font-light;
      font-family: 'Syncopate', arial, serif;
      text-shadow: 0 0 8px $color-font-light-shadow;
    }
    padding-bottom: 12px;
  }
  #messages {
    background-color: $color-content-background;
    margin: 0 auto;
    margin-bottom: 8px;
    margin-top: 8px;
    width: 50%;
    padding: 8px;
    p { 
      text-align: center;
      font-size: $font-p1;
      padding: 4px;
    }
    .notice {
      color: #00a604;
    }
    .alert {
      color: #0400a6;
    }
    @include round-corners(8px);
  }
  #content {
    margin: 0;
    background-color: $color-content-background;
    width: 666px;
    float: left;
    padding: 16px;
    @include round-corner-top-left(16px);
    @include round-corner-bottom-left(16px);
    @include round-corner-bottom-right(16px);
    h1, h2, h3, h4, h5 {
      padding-bottom: 12px;
    }
    p {
      padding: 8px;
      color: $color-value-030;
      margin: 0 auto;
      width: 90%;
    }
    p:last-of-type {margin-bottom: 16px;}
    p.loud {  
      text-align: center;
      font-weight: bold;
      font-family: 'Slackey', arial, serif;
      font-size: $font-p3;
    }
  }
  #sidebar {
    width: 298px;
    float: right;
    clear: right;
    .aside { 
      margin-top: 1px; 
      background-color: $color-aside-background;
      padding: 8px;
      h1, h2, h3, h4, h5 {
        padding-bottom: 6px;
      }
      p {
        font-size: $font-m1;
        color: $color-value-030;
      }
      .map {
        margin: 0 auto;
        margin-top: 8px;
      }
      a {
        color: $color-primary !important;
        padding-bottom: 8px;
        font-size: $font-base;
        text-decoration: none;
      }
      form {
        legend {
          font-size: $font-m1;
          padding: 0;
          margin: 0;
        }
        ul, ol {
          list-style: none;
        } 
        fieldset {
          li { 
            white-space: nowrap; 
            float:right;
            clear: right;
            input { 
              width: 180px; 
              border: solid 2px #4d0000; 
              outline: none; 
              padding: 4px;
              font-size: $font-m1;
              background-color: $color-aside-input;
              @include round-corners-bottom(4px);
              @include round-corner-top-right(4px);
            }
            label { 
              width: 50px; 
              font-size: $font-m2; 
              display: inline-block; 
              text-align: right; 
              white-space: nowrap; 
            }
            button {font-size: $font-m1;}
          }
          display: inline-block;
        }
        fieldset:last-of-type {
          border: 0;
          width: 100%;
          padding-top: 0;
          margin: 0;
        }
      }
    }
    .aside:first-of-type {
      margin-top: 0;
      @include round-corner-top-right(16px);
    }
    .aside:last-of-type {
      @include round-corner-bottom-right(16px);
      @include round-corner-bottom-left(16px);
    }
  }
}

.header-ribbon {
  padding-bottom: 0;
  color: white;
  .logo {
    a { 
      text-decoration: none;
      color: white !important;
      font-family: 'Syncopate', arial, serif;
      font-size: $font-p5;
      text-shadow: 0 0 12px $color-font-light-shadow;
    }
  }
  text-align: center;
}

.show {
  ol, ul { list-style: none; }
  h3 {
    padding: 8px;
    font-size: $font-p2;
    padding-top: 16px;
    font-weight: bold;
    span { 
      font-weight: normal; 
      font-size: $font-p1;
      color: $color-value-030;
    }
  }
  div:first-of-type > h3 {padding-top: 0;}
  li > span { 
    display: inline-block;
    width: 100px;
    text-transform: lowercase;
    text-align: right;
    color: $color-value-030;
  }
  li > div {
    display: inline-block;
    font-size: $font-p1;
  }
  li { padding: 8px; }
  li:last-of-type { padding-bottom: 0;}
}

.actions {
  display: inline-block;
  float: right;
  margin-top: 16px;
  padding: 8px;
  @include round-corners(8px);
  background-color: $color-primary;
  text-transform: lowercase;
  ol, ul {list-style: none;}
  li {display: inline-block; padding-right: 0; margin: 0;}
  li:not(:last-of-type):after {content: ' |'; color: white;}
  a { 
    font-size: $font-m1;
    color: white; 
    text-decoration: none; 
  }
}
.action:first-of-type {padding-left: 0;}
.action:last-of-type {padding-right: 0;}

form {
  fieldset {
    padding-top: 16px;
    padding-bottom: 8px;
    legend {
      font-size: $font-m1;
      font-weight: bold;
      font-style: italic;
    }
    ol, ul {
      list-style: none;
      li{
        padding-top: 8px;
        label {
          width: 100px;
          display: inline-block;
          font-size: $font-base;
          vertical-align: top;
          text-align: right;
          text-transform: lowercase;
          color: $color-value-030;
        }
        input, textarea {
          font-size: $font-p1;
          padding: 8px;
          margin: 0;
          border: solid 2px $color-value-030;
          @include round-corners-bottom(4px);
          @include round-corner-top-right(4px);
          outline: none;
          width: 375px;
        }
        div.hint {
          color: $color-content-background;
          display: inline-block;
          font-size: $font-m2;
          float: top;
          vertical-align: top;
          word-wrap: break-word;
          white-space: pre-line;
          width: 145px;
          padding: 4px;
          padding-top: 8px;
          padding-bottom: 8px;
          text-transform: lowercase;
        }
        button {
          font-size: $font-p1;
          float: right;
          vertical-align: top;
          @include round-corners(8px);
          border: 0;
          padding: 8px;
          background-color: $color-primary;
          color: white;
        }
        button:hover {
          cursor: pointer;
        }
        input:focus, textarea:focus {
          -moz-box-shadow:    4px 4px 4px $color-input-shadow;
          -webkit-box-shadow: 4px 4px 4px $color-input-shadow;
          box-shadow:         4px 4px 4px $color-input-shadow;
        }
        textarea { height: 64px; }
        label.field-with-errors { color: $color-primary; }
        input.field-with-errors, textarea.field-with-errors {
          background-color: #FCE4E3;
        }
        label.required:before {
          content: '*'; 
          color: $color-primary; 
          font-weight: bold;
        }
      }
      li:first-of-type {padding-top: 0;}
    }
  }
  fieldset:last-of-type, .fieldset:last-of-type {
    padding-bottom: 0;
  }
  #error_explanation { 
    background-color: white;
    margin: 4px; 
    margin-bottom: 8px;
    padding: 8px; 
    border: dotted 4px $color-primary; 
    @include round-corners(8px);
    h4 { 
      text-transform: none; 
      padding-bottom: 4px;
      font-size: $font-p1;
    }
    font-size: $font-base; 
    ol, ul {
      list-style: none;
      margin-left: 0;
      padding-left: 16px;
      text-index: -16px;
      li:before { 
        content: "\2713"; 
        color: #a6400; 
        padding-right: 8px; 
        font-weight: bolder;
      }
      li { 
        padding-top: 4px; 
        padding-bottom: 4px; 
      }
      li:first-of-type { padding-top: 0; }
      li:last-of-type { padding-bottom: 0; }
    }
  }
}

#session-speaker {
  margin-top: 16px;
  * {
    font-size: $font-base;
    font-weight: normal;
  }
}

table {
  width: 100%;
  padding: 0;
  margin: 0;
  th, td { font-size: $font-m1; }
  text-align: left;
  border-collapse: collapse;
  border: solid 1px #4d0000;
  @include round-corners(8px);
  td { border-bottom: solid 1px #4d0000; padding: 8px; }
  tr > th { 
    background-color: $color-primary; 
    color: white;
    padding: 8px; 
    th {
// left off here
    }
  }
  tr { 
    a {
      text-decoration: none; 
    } 
  }
  tr:nth-child(even) { 
    a {
      color: $color-value-030; 
    } 
  }
  tr:nth-child(odd) { 
    background-color: $color-primary; 
    color: white;
    a {
      color: white; 
    } 
  }
  ol, ul { list-style: none; }
  li {
    padding-top: 4px; 
    padding-bottom: 4px;
  }
  li:last-of-type {padding-bottom: 0;}
  li:first-of-type {padding-top: 0;}
}
button, input[type=button] {
  font-size: $font-m2;
  float: right;
  vertical-align: top;
  @include round-corners(8px);
  border: 0;
  padding: 6px;
  background-color: $color-primary;
  color: white;
}
button:hover {
  cursor: pointer;
}
