@import "html5-reset";
@import "helpers";

*, body {
  font-family: 'Ubuntu', arial, serif;
}
body {
  background-color: #a60400;
  @include prime-gs();
}

.logo, h1, h2, h3, h4, h5 {
  font-family: 'Syncopate', arial, serif;
}

#container {
  display: block;
  #header {
    width: 100%;
    text-align: center;

    margin: 8px;
  
    .blurb {
      display: inline-block;
      background-color: white;   
      padding: 8px;
      @include round-corners(8px);
      font-family: 'Syncopate', arial, serif;
      border: solid 2px #4D0200;
    }
  }
  #messages {
    background-color: white;
    margin: 0 auto;
    margin-bottom: 8px;
    margin-top: 8px;
    width: 50%;
    padding: 8px;
    p { 
      text-align: center;
      font-size: 24px;
      padding: 4px;
    }
    .notice {
      color: #00a604;
    }
    .alert {
      color: #0400a6;
    }
    border: solid 2px black; 
    @include round-corner-top-right(8px);
    @include round-corners-bottom(8px);
  }
  #content {
    margin: 0;
    background-color: white;
    width: 660px;
    float: left;
    padding: 16px;
    @include round-corner-top-right(8px);
    @include round-corner-bottom-left(8px);
    @include round-corner-bottom-right(16px);
    border: solid 4px #4D0200;
    h1, h2, h3, h4, h5 {
      padding-bottom: 12px;
    }
  }
  #sidebar {
    width: 292px;
    float: right;
    .aside { 
      margin-top: 8px; 
      background-color: white;
      border: solid 4px #4D0200;
      padding: 16px;
      h1, h2, h3, h4, h5 {
        padding-bottom: 6px;
      }
      a {
        padding-bottom: 8px;
      }
    }
    .aside:first-of-type {
      margin-top: 0;
      @include round-corner-top-right(16px);
    }
    .aside:last-of-type {
      @include round-corner-bottom-right(16px);
    }
  }
}

.header-ribbon {
  padding: 8px 8px 8px 8px;
  color: white;
  .logo {
    font-size: 64px;
  }
  text-align: center;
}

form {
  fieldset {
    padding-top: 18px;
    padding-bottom: 9px;
    legend {
      font-size: 32px;
      font-weight: bold;
      font-style: italic;
    }
    ul {
      list-style: none;
      li{
        padding-top: 8px;
        label {
          width: 100px;
          display: inline-block;
          font-size: 18px;
          vertical-align: top;
          text-align: right;
          text-transform: lowercase;
        }
        input, textarea {
          font-size: 18px;
          padding: 8px;
          margin: 0;
          border: solid 2px #4D0200;
          @include round-corners-bottom(4px);
          @include round-corner-top-right(4px);
          outline: none;
        }
        button {
          font-size: 18px;
          float: right;
          vertical-align: top;
          @include round-corners(8px);
          border: 0;
          padding: 8px;
          background-color: #a60400;
          color: white;
        }
        button:hover {
          cursor: pointer;
        }
        input:focus, textarea:focus {
          -moz-box-shadow: 10px 10px 5px #888;
          -webkit-box-shadow: 10px 10px 5px #888;
          box-shadow: 10px 10px 5px #888;
        }
        textarea { height: 64px; }
        label.field-with-errors { color: red; }
      }
      li:first-of-type {padding-top: 0;}
    }
  }
  fieldset:last-of-type {
    padding-bottom: 0;
  }
  #error_explanation { 
    background-color: #FCE4E3;
    margin: 4px; 
    margin-bottom: 8px;
    padding: 8px; 
    border: dotted 4px #a60400; 
    @include round-corners(8px);
    h4 { 
      text-transform: none; 
      padding-bottom: 4px;
      font-size: 18px;
    }
    font-size: 16px; 
    ul {
      list-style: none;
      margin-left: 0;
      padding-left: 12px;
      text-index: -12px;
      li:before { 
        content: "\2713"; 
        color: red; 
        padding-right: 8px; 
        font-weight: bolder;
      }
      li { 
        padding-top: 4px; 
        padding-bottom: 4px; 
      }
      li:first-of-type { padding-top: 0; }
      li:last-of-type { padding-bottom: 0; }
    }
  }
}

