@import html5-reset
@import helpers
@import typography
@import colors

$f-px: 24px
$f-multiplier: 1.16
$h-px: $f-px * $f-multiplier


body
  +prime-gs
  font-family: $font-family-base

body
  font-size: $f-px
  background: $c-primary
  +gradient-background($c-primary, $c-primary-66)
a
  color: $c-left
  text-decoration: none

h1
  font-size: ($h-px * ($f-multiplier + 0.08))
h2
  font-size: ($h-px * ($f-multiplier + 0.05))
h3
  font-size: ($h-px * ($f-multiplier + 0.03))
h4
  font-size: ($h-px * ($f-multiplier + 0.02))
h1
  font-size: ($h-px * ($f-multiplier + 0.01))

h1, h2, h3, h4, h5
  text-transform: lowercase

#container
  background: white

  -moz-box-shadow: 0px 0px 16px $greyish
  -webkit-box-shadow: 0px 0px 16px $greyish
  box-shadow: 0px 0px 16px $greyish

  margin-top: 16px
  margin-bottom: 32px

  padding: 32px

  +square-corner-top-left(24px)

#header
  .header-container
    margin: 0 auto
    .logo
      a
        display: block
        margin-left: auto
        margin-right: auto
        img
          display: block
          margin-left: auto
          margin-right: auto
    .blurb
      display: block
      text-align: center
      font-style: italic
      font-size: 16px
      color: #9A9B9D
  .nav
    padding-top: 16px
    padding-bottom: 16px
    margin-top: 32px
    margin-bottom: 16px
    text-align: center
    ul
      li
        display: inline
    a
      color: $c-left-66
      font-weight: 100
      padding: 8px
      padding-right: 16px
      padding-left: 16px
      border: solid 1px $c-primary-33
      +square-corner-top-left(24px)
      cursor: hand
      &.highlight
        border-color: $c-left-33
        background: $c-left-66
        color: white
    a:hover
      font-weight: 100
      background: $c-left-66
      color: white
      &.highlight
        border-color: $c-left-33
        background: white
        color: $c-primary-66

.section-title
  color: $c-right
  font-weight: 100
  font-style: italic
  font-size: 24px

#content
  h1, h2, h3, h5
    font-weight: 900
    letter-spacing: -1px
  h4
    margin-bottom: 16px
  .show
    margin-top: 16px
    margin-bottom: 32px
    margin-left: 16px
    margin-right: 16px
    h1, h2, h3, h4, h5
      margin-bottom: 16px
      display: block
    ul, ol
      li
        margin-left: 16px
        line-height: 16px
        span
          color: $c-right
          font-style: italic
        &.details
          display: inline-block
          font-size: $f-px * 0.66
          text-transform: lowercase
          word-wrap: break-word
          margin-left: 40px
          font-weight: lighter
        &.sponsor-logo
          display: inline-block
        &.long-text
          font-size: $f-px * 0.88
          display: block
          padding: 16px
          font-weight: 100
          margin-right: 16px
          background: $tbd
          +square-corner-top-left(24px)
          margin-top: 8px
          line-height: $f-px * 1.33
          letter-spacing: -1px
          ul, ol
            li:first-of-type
              padding-top: $f-px * 0.5
            li
              padding-bottom: $f-px * 0.5
              line-height: $f-px
              list-style-type: disc
              margin-left: $f-px * 3

        &.context
          font-size: $f-px * 0.66
          text-transform: lowercase
          font-style: italic
          font-weight: lighter
  .show:last-of-type
    margin-bottom: 0

#sidebar
  margin-top: 32px
  display: block
  height: 377px
  margin-left: auto
  margin-right: auto
  .aside
    display: inline-block
    background: white
    font-size: 16px
    max-width: 198px
    min-height: 320px
    max-height: 320px
    float: left
    padding: 8px
    margin: 8px
    -moz-box-shadow: 0px 0px 16px #9A9B9D
    -webkit-box-shadow: 0px 0px 16px #9A9B9D
    box-shadow: 0px 0px 16px #9A9B9D
    +square-corner-top-left(24px)
    h5
      color: $c-left
      border-bottom: solid 1px $greyish
      margin-bottom: 8px
      padding-bottom: 8px
      padding-top: 8px
      font-weight: bold
    .map
      margin-top: 8px
      border: solid 4px #9A9B9D
      width: 190px
    &.authentication
      text-align: left
      .login-to
        margin-bottom: 4px
      li
        padding: 0
        margin: 4px 0 4px 0
      //p
        //display: inline
        //font-size: 12px
        //text-align: right
      input[type=password], input[type=email]
        width: 186px
        margin: 0
        padding: 4px
      .buttons ol
        width: 186px
        margin: 0
        padding: 0
        margin-left: -48px
        text-align: left
        margin-right: 2px
        li
          display: inline
          &:last-of-type
            text-align: right
            vertical-align: center
            white-space: nowrap


#footer
  color: #9A9B9D
  font-size: 16px
  padding-top: 8px
  padding-right: 8px
  margin-left: 16px

.search
  outline: none
  float: right
  border: solid 1px $c-left-33
  +square-corner-top-left(24px)
  padding: 8px
  font-style: italic

h3.sponsorship-level
  margin-top: 24px
  padding: 8px
  padding-left: 16px
  font-weight: bolder
  text-transform: uppercase
  background-color: $c-primary-66
  color: white
  +square-corner-top-left(16px)
  text-shadow: 0 0 12px $c-primary-66
  border: double 4px $c-primary-33
  span
    text-transform: lowercase
    font-weight: 100
h3.sponsorship-level:first-of-type
  margin-top: 32px

.user-content
  *
    line-height: 100%
  h3
    margin-top: 24px
  ul
    li
      margin-top: 8px
      margin-bottom: 8px
    li:last-of-type
      margin-bottom: none
    li:first-of-type
      margin-top: none

hr.divider
  border: none
  display: block
  height: 0
  margin: 0
  padding: 0
  line-height: 0

.any-case
  text-transform: none

.actions
  border: solid 1px $c-primary-33
  margin: 16px
  padding: 16px
  +square-corner-top-left(16px)
  legend
    padding-left: 4px
    padding-right: 4px
    color: $c-left-66
    font-weight: 100
    font-style: italic
    font-size: 16px
    text-transform: lowercase
  ul, ol
    li
      margin-top: 4px
      margin-bottom: 4px
      text-transform: lowercase
      font-weight: 100
    li:first-of-type
      margin-top: 0
    li:last-of-type
      margin-bottom: 0

.counts
  margin: 16px
  padding: 16px

li.schedule
  font-size: 24px
  line-height: 2px
  display: block

.print-bar
  margin: 16px
  text-align: right
  font-size: 12px
  a
    background-color: $c-left
    color: white
    padding: 4px
    +round-corners(4px)

#comments
  ul, ol
    list-style-type: none
    li
      padding: 8px
      font-weight: 300
      font-size: 16px
      margin: 8px
      margin-left: 40px
  .comments-list
    li:nth-of-type(odd)
      border: solid 2px $c-right
      background-color: $c-right-33
      .email
        color: $c-right
        font-weight: 700
    li:nth-of-type(even)
      border: solid 2px $c-left
      background-color: $c-left-33
      .email
        color: $c-left
        font-weight: 700
  textarea, input[type='email']
    border: solid 2px $greyish
    +square-corner-top-left(8px)

#messages
  margin-left: auto
  margin-right: auto
  font-weight: 700
  display: block
  text-align: center
  .alert
    padding: 8px
    margin: 16px
    background-color: $c-primary-33
    border: solid 2px $c-primary
    color: white
    text-shadow: 0 0 12px $c-primary-66
  .notice
    padding: 8px
    margin: 16px
    background-color: $c-left-33
    border: solid 2px $c-left
    color: white
    text-shadow: 0 0 12px $c-left-66

form.formtastic
  label
    color: $c-left-66
  fieldset.inputs
    legend
      span
        padding-bottom: 32px
        font-style: italic
        display: block
        font-size: $font-p1
        color: $c-right-66
        font-weight: lighter
    ol
      li
        input, textarea
          padding: 8px
          border: solid 1px $greyish
          line-height: 34px
          +square-corner-top-left(8px)

.faq
  div
    outline: solid 1px blue
  h3
    color: $c-left
  p
    font-family: $font-family-base
    font-weight: 100
    margin-left: 16px
