@import helpers
@import typography
@import colors

#content
  h4
    margin-bottom: 16px
  p
    margin: 8px
    margin-bottom: 16px
  p.previous-speaker
    border: solid 1px $c-primary-66
    padding: 16px
    +square-corner-top-left(8px)
    strong
      font-weight: bolder


