- content_for :head do
  = stylesheet_link_tag 'agenda.css', :media => 'screen, projection'
%table
  %tbody
    %tr
      %td{:nowrap => "true", :class=>"time"} 9:00 - 10:00
      %td{:class=>"slot"}
        .presentation Ioke
        .speaker Ola Bini
        .tags (Ioke, JRuby, Lisp)
      %td{:class=>"slot"}
        .presentation CSLA .NET 4.0
        .speaker Rocky Lhotka
        .tags (C#, VB)
      %td{:class=>"slot"}
        .presentation Leverage Open XML To Write Powerful Document Gen
        .speaker Tim Murphy
      %td{:class=>"slot"}
        .presentation Use Git Like a Boss
        .speaker Kevin Gisi
        .tags (Ruby).ne
      %td{:class=>"slot"}
        .presentation TBD
        .speaker Josh Graham
      %td{:class=>"slot"}
        .presentation VS 2010 Tools for Sharepoint
        .speaker Paul Schaeflin
        .tags (C#)
      %td{:class=>"slot"}
        .presentation Stop Programming JavaScript by Luck
        .speaker Sergio Pereira
        .tags (JavaScript)
    %tr
      %td{:nowrap => "true", :class=>"time"} 10:15 - 11:15
      %td{:class=>"slot"}
        .presentation The Seduction of Scala
        .speaker Dean Wampler
        .tags (Scala)
      %td{:class=>"slot"}
        .presentation ALM w/Sharepoint 2010 &amp; VS 2010
        .speaker Jay Schmelzer
        .tags (VB)
      %td{:class=>"slot"}
        .presentation Code Sense
        .speaker Justin Martin
      %td{:class=>"slot"}
        .presentation Ruby for the Web
        .speaker Ryan Briones
        .tags (Ruby)
      %td{:class=>"slot"}
        .presentation Habits of Highly Effective MVC Developers
        .speaker Curtis Mitchell
        .tags (C#)
      %td{:class=>"slot"}
        .presentation Android 101 &amp; Why Android?
        .speaker Lwin &amp; Min Maung
        .tags (Java)
      %td{:class=>"slot"}
        .presentation Real world jQuery for the rest of us
        .speaker James Curtis
    %tr
      %td{:nowrap => "true", :class=>"time o"} 11:30 - 1:00
      %td{:colspan => "8", :style=>"text-align: center; background-color: #EFEFEF;"} LUNCH
    %tr
      %td{:nowrap => "true", :class=>"time o"} 1:00 - 2:00
      %td{:class=>"slot"}
        .presentation Limelight
        .speaker Micah Martin
        .tags (Ruby)
      %td{:class=>"slot"}
        .presentation .NET Rocks Live!
        .speaker Carl Franklin &amp; Richard Campbell
      %td{:class=>"slot"}
        .presentation The Technical Debt Trap
        .speaker Michael Norton
      %td{:class=>"slot"}
        .presentation Intro to Silverlight Dev on WP7
        .speaker Lance Larsen
        .tags (C#)
      %td{:class=>"slot"}
        .presentation Functional Programming Glossary
        .speaker Amanda Laucher
        .tags (F#)
      %td{:class=>"slot"}
        .presentation Google Map, AppEngine, &amp; Flex
        .speaker Ji Lucas
        .tags (Python, Flex, JavaScript)
      %td{:class=>"slot"}
        .presentation Zero to Clojure
        .speaker Colin Jones
        .tags (Clojure)
    %tr
      %td{:nowrap => "true", :class=>"time o"} 2:15 - 3:15
      %td{:class=>"slot"}
        .presentation Windows Phone 7 + Silverlight = Sexy
        .speaker Dave Bost
        .tags (C#)
      %td{:class=>"slot"}
        .presentation Silverlight 4 and Media
        .speaker Carl Franklin
        .tags (C#, VB)
      %td{:class=>"slot"}
        .presentation Geospatial Information Systems
        .speaker Chad Pry
        .tags (Ruby)
      %td{:class=>"slot"}
        .presentation TFS Build Automation
        .speaker Ryan Powers &amp; Clark Sell
      %td{:class=>"slot"}
        .presentation Making the web "F#"unctional w/BistroMVC
        .speaker Scott Parker
        .tags (F#)
      %td{:class=>"slot"}
        .presentation iPhone on Rails
        .speaker Jim Suchy
        .tags (Ruby, Objective-C)
      %td{:class=>"slot"}
        .presentation WPF Base Camp
        .speaker Marc Temkin
        .tags (C#)
    %tr
      %td{:nowrap => "true", :class=>"time o"} 3:30 - 4:30
      %td{:class=>"slot"}
        .presentation WTF is a Monad?!
        .speaker Robert "Uncle Bob" Martin
        .tags (Clojure, Ruby)
      %td{:class=>"slot"}
        .presentation Web Testing Tools in Visual Studio 2010
        .speaker Richard Campbell
        .tags (C#)
      %td{:class=>"slot"}
        .presentation Code - Art &amp; Motion
        .speaker Ross Gerbasi
        .tags (ActionScript, JavaScript)
      %td{:class=>"slot"}
        .presentation Using the Azure AppFabric w/Surgical Skill
        .speaker Wade Wegner
        .tags (C#)
      %td{:class=>"slot"}
        .presentation What can I do w/MEF?
        .speaker Damon Payne
        .tags (C#)
      %td{:class=>"slot"}
        .presentation Monotouch!
        .speaker Eduardo Scoz
        .tags (C#, Objective-C)
      %td{:class=>"slot"}
        .presentation Powershell Deep Dive
        .speaker Steven Murawski
        .tags (PowerShell)
    %tr
      %td{:nowrap => "true", :class=>"time o"} 4:45 - 5:30
      %td{:colspan => "8", :style=>"text-align: center; background-color: #EFEFEF;"} SWAG GIVEAWAY

