%h4.section-title sponsor lineup 
- if user_signed_in? && current_user.admin?
  = render :partial => "shared/actions", :locals => {:model => Sponsor.new, :current_action => :index}
- if user_signed_in? && current_user.admin?
  .counts
    %p= pluralize @sponsors.count, 'sponsor'
.lineup
  = render :partial => "sponsorship_level", :collection => @sponsorship_levels

- content_for :javascript do
  :javascript
    SEARCH_PLACEHOLDER_TEXT = "type to filter by name";
  = javascript_include_tag "index"
