<h4>Chicago Code Camp call for proposals!</h4>

<p>We're now accepting session proposals for Chicago Code Camp! Chicago Code Camp is a free conference open to anyone
  interested in software development, taking place on May 14th, 2011 at College of Lake County in Greyslake, IL.</p>

<p>We're looking for code-centric topics for any platform or language. Fill out the form below to submit your proposal
  for consideration.</p>

<% unless user_signed_in? %>
<p>Check your email inbox after your first submission for further information on how to manage your submissions!</p>

<p><strong>Already submitted a talk?</strong> Your account was automatically created when you submitted your first proposal. Click <%= link_to "here", new_session_path("user") %> to login!</p>
<% end %>

<%= render 'form' %>

<%= render :partial => "shared/actions", :locals => {:model => @submission, :current_action => :new} %>
