<h1>Calling all developers and speakers!</h1>

<p>We're now accepting session proposals for Chicago Code Camp! Chicago Code Camp is a free conference open to anyone interested in software development, taking place on May 14th, 2011 at College of Lake County in Greyslake, IL.</p>

<p>We're looking for code-centric topics for any platform or language. Fill out the form below to submit your proposal for consideration.</p>
 

<%= render 'form' %>
