<h1>Calling all Chicago-land developers and speakers!</h1>

<p class="text loud">Are you a developer with a passion for your craft?</p><p class="text">We want to hear your voice! Give us a little information on the session you're planning and how to contact you.</p>
<p class="text">Proposals can be for any idea that you'd like to organize, lead or present at the upcoming Chicago Code Camp. The rule of thumb for session proposals is that they should be code-oriented, less than an hour long and can be conducted inside a single room. Anything interesting will definitely be considered.</p>

<%= render 'form' %>
