%h4 Chicago Code Camp call for proposals!
%p.callout Call for proposals is now open!
%p
  We're now accepting session proposals for Chicago Code Camp, a free conference open to everyone
  interested in software development, taking place May (day TBD)  2012 at College of Lake County in Grayslake, IL.
%p
  We're looking for code-centric topics for any platform or language. Fill out the form below to submit your proposal
  for consideration.
- unless user_signed_in?
  %p Check your email inbox after your first submission for further information on how to manage your submissions!
  %p.previous-speaker
    %strong Did you submit a proposal to CCC 2011?
    An account was automatically created for you when you submitted your first proposal. Click #{link_to "here", new_session_path("user")} to login!

= render 'form'

- if user_signed_in? && current_user.admin?
  = render :partial => "shared/actions", :locals => {:model => @submission, :current_action => :new}

- content_for :controller_stylesheets do
  = stylesheet_link_tag "submissions"

