- if user_signed_in? && current_user.speaker?
  %fieldset.actions
    %legend= "Manage #{@sesja.title}"
    %ul
      - if can?(:show, Sesja)
        %li= link_to "view", sesja_path(@sesja)

%h4.section-title session description
= render 'form'
