%h4.section-title session description 
= render :partial => "sesja", :locals => {:sesja => @sesja}

- if user_signed_in? && (current_user.admin? || current_user.speaker?)
  = render :partial => "shared/actions", :locals => {:model => @sesja, :current_action => :show}
